<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>gtr</servlet-name>
        <servlet-class>controller.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassServlet</servlet-name>
        <servlet-class>model.ClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>model.StaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentsServlet</servlet-name>
        <servlet-class>model.StudentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>model.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectServlet</servlet-name>
        <servlet-class>model.SubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassSubjectServlet</servlet-name>
        <servlet-class>model.ClassSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>model.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>model.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamQuestionServlet</servlet-name>
        <servlet-class>model.ExamQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamServlet</servlet-name>
        <servlet-class>model.ExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamCenterServlet</servlet-name>
        <servlet-class>model.ExamCenterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamSetupServlet</servlet-name>
        <servlet-class>model.ExamSetupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssessmentServlet</servlet-name>
        <servlet-class>model.AssessmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>model.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>model.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>model.SessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SportsServlet</servlet-name>
        <servlet-class>model.SportsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtimeServlet</servlet-name>
        <servlet-class>model.CtimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevelopmentServlet</servlet-name>
        <servlet-class>model.DevelopmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificateServlet</servlet-name>
        <servlet-class>model.CertificateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadSignServlet</servlet-name>
        <servlet-class>model.UploadSignServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GatewayServlet</servlet-name>
        <servlet-class>model.GatewayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchoolBillServlet</servlet-name>
        <servlet-class>model.SchoolBillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SBillServlet</servlet-name>
        <servlet-class>model.SBillServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClassServlet</servlet-name>
        <url-pattern>/ClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gtr</servlet-name>
        <url-pattern>/gtr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/StaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentsServlet</servlet-name>
        <url-pattern>/StudentsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectServlet</servlet-name>
        <url-pattern>/SubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassSubjectServlet</servlet-name>
        <url-pattern>/ClassSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamQuestionServlet</servlet-name>
        <url-pattern>/ExamQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamServlet</servlet-name>
        <url-pattern>/ExamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamCenterServlet</servlet-name>
        <url-pattern>/ExamCenterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamSetupServlet</servlet-name>
        <url-pattern>/ExamSetupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssessmentServlet</servlet-name>
        <url-pattern>/AssessmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/SessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SportsServlet</servlet-name>
        <url-pattern>/SportsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtimeServlet</servlet-name>
        <url-pattern>/CtimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevelopmentServlet</servlet-name>
        <url-pattern>/DevelopmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificateServlet</servlet-name>
        <url-pattern>/CertificateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadSignServlet</servlet-name>
        <url-pattern>/UploadSignServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GatewayServlet</servlet-name>
        <url-pattern>/GatewayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchoolBillServlet</servlet-name>
        <url-pattern>/SchoolBillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SBillServlet</servlet-name>
        <url-pattern>/SBillServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            2
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    </web-app>
